img{
	float: left;
	margin: 0 0 10px 10px;
}
.exp{
    text-indent:200px;
}
#email{
    text-decoration:underline;
    font-style:italic;
}
div.pdd{
	padding: 20px;
}
.button{
	background-color:#000000;
	border: none;
	color: white;
	padding:15px 32px;
	text-align:center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
.buttonRed{
	background-color: red;
}